In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/ryansmitz/Instacart_Basket_Analysis_11_28_23'

In [3]:
#1 import dataframe
df_ords_prods_merge_2 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_prods_merge_2.pkl'))

In [4]:
#check the dataframe visually
df_ords_prods_merge_2

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,order_day_of_week_label,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product,Monday,Regularly busy day,Most_orders
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product,Thursday,Regularly busy day,Most_orders
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Monday,Regularly busy day,Average_orders
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Tuesday,Second slowest day,Fewest_orders
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Wednesday,Slowest day,Most_orders

In [5]:
print(df_ords_prods_merge_2.dtypes)

order_id                      int64
user_id                       int64
order_number                  int64
order_day_of_week             int64
order_hour_of_day             int64
days_since_prior_order      float64
product_id                    int64
add_to_cart_order             int64
reordered                     int64
product_name                 object
aisle_id                      int64
department_id                 int64
prices                      float64
_merge                     category
price_range_loc              object
order_day_of_week_label      object
busiest_days                 object
busiest_period_of_day        object
dtype: object

In [6]:
#find the aggregated mean for entire dataframe grouped by department id
df_ords_prods_merge_2.groupby('department_id').agg({
    'order_number': 'mean',
    'order_day_of_week': 'mean',
    'order_hour_of_day': 'mean',
    'days_since_prior_order': 'mean',
    'add_to_cart_order': 'mean',
    'reordered': 'mean',
    'prices': 'mean'
})

,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,prices
department_id,,,,,,,
1,15.457838,2.790508,13.681669,11.730829,8.998076,0.541764,7.736553
2,17.277920,2.851368,13.498939,10.952867,8.277645,0.407980,6.990934
3,17.170395,2.743055,13.398569,11.097613,8.093020,0.627889,7.853809
4,17.811403,2.683672,13.424949,10.856212,8.022875,0.649913,7.963695
5,15.215751,3.163153,13.594264,10.340887,5.428346,0.569924,8.143701
6,16.439806,2.691937,13.518913,11.291251,9.947061,0.369229,7.682264
7,17.225802,2.807199,13.314115,11.053389,6.975999,0.653461,7.679175
8,15.340650,2.934893,13.578544,11.867322,7.718040,0.601324,7.889070
9,15.895474,2.690505,13.546041,11.774450,10.212863,0.461076,7.350283
10,20.197148,2.759061,13.458537,10.104230,8.399040,0.577040,8.348960
11,16.170638,2.816660,13.486800,11.593145,8.752333,0.321296,7.996769
12,15.887671,2.718082,13.468507,11.432021,8.528219,0.567678,16.294443
13,16.583536,2.810497,13.458808,11.163256,9.593717,0.346722,8.006591
14,16.773669,2.731141,13.330673,11.296101,9.125223,0.560550,8.028963
15,16.165037,2.707202,13.453348,11.656079,9.947258,0.457405,7.539976
16,17.665606,2.739654,13.367711,10.986054,7.499835,0.669690,33.461365
17,15.694469,2.835449,13.349908,11.996490,8.492163,0.402178,7.384058
18,19.310397,2.711004,13.397596,10.004465,10.575925,0.578971,7.638380
19,17.177343,2.751490,13.360846,10.947879,9.187743,0.574180,4.271347
20,16.473447,2.705505,13.481529,11.345655,8.693815,0.607719,7.717026
21,22.902379,2.800853,13.454841,10.218559,9.339489,0.395849,8.660716

#3 Each figure in the table represents different aspects of the data. The order_number column allows us to compare order numbers between departments. The price column gives an idea of the average price of the purchased products in each department. This can provide information about price differences between departments or possibly buying habits. The hour_of_day column shows the average time of day that items are purchased, again by department. The hour_of_day column shows less variation than say, the price column. All departments show that items are purchased on average sometime between 1pm and 2pm.

In [7]:
#4 create a max order column
df_ords_prods_merge_2['max_order'] = df_ords_prods_merge_2.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/8s/hd59lm_10lz7xmm3phb5dc800000gn/T/ipykernel_4122/3937422271.py:2: FutureWarning: The provided callable <function amax at 0x10e4d14e0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge_2['max_order'] = df_ords_prods_merge_2.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
#eliminate max rows view
pd.options.display.max_rows = None

In [10]:
#check the dataframe visually
df_ords_prods_merge_2.head(100)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,order_day_of_week_label,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Friday,Regularly busy day,Most_orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,24
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,24
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Saturday,Busiest day,Most_orders,24
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,24
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,7
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,7
58,1889835,82,1,3,15,NaN,196,6,0,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,19
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,19
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Saturday,Busiest day,Most_orders,19
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,19
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,19
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,19
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,19
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,19
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,19
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,both,Mid-range product,Saturday,Busiest day,Most_orders,14
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,14
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,14
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,14
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Friday,Regularly busy day,Most_orders,14
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,14
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Average_orders,14
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,6
75,520620,120,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,3
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,3
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,6
78,2040988,195,1,1,14,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,58
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,58
80,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,58
81,2744976,195,22,5,10,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,58
82,2781919,195,25,1,14,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,58
83,1738718,195,31,2,8,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,58
84,3058369,195,34,3,10,6.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,58
85,1485596,195,37,2,15,0.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,58
86,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,58
87,1615297,195,47,5,10,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,58
88,1765587,195,52,3,12,2.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,58
89,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,58
90,2505656,222,17,2,12,1.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,70
91,3268370,222,38,5,15,1.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,70
92,2016711,290,9,5,19,6.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Average_orders,51
93,2706088,290,28,6,10,7.0,196,16,1,Soda,77,7,9.0,both,Mid-range product,Friday,Regularly busy day,Most_orders,51
94,1952286,331,6,5,16,30.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,8
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Average_orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Average_orders,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,22

In [11]:
#4 create a loyalty flag column using the max order column
df_ords_prods_merge_2.loc[df_ords_prods_merge_2['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

/var/folders/8s/hd59lm_10lz7xmm3phb5dc800000gn/T/ipykernel_4122/3519078072.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Loyal customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prods_merge_2.loc[df_ords_prods_merge_2['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
df_ords_prods_merge_2.loc[(df_ords_prods_merge_2['max_order'] <= 40) & (df_ords_prods_merge_2['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
df_ords_prods_merge_2.loc[df_ords_prods_merge_2['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
#visual check that the new column was created succesfully
df_ords_prods_merge_2.head(30)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,order_day_of_week_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,9,New customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Friday,Regularly busy day,Most_orders,9,New customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,9,New customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,33,Regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,20,Regular customer
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,20,Regular customer
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,11,Regular customer
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,11,Regular customer
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,27,Regular customer
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,27,Regular customer
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,27,Regular customer

In [18]:
#check the value counts of the new loyalty flag
df_ords_prods_merge_2['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [19]:
#5 check the basic statistics of the product prices for each loyalty category
df_ords_prods_merge_2.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.373859  1.0  99999.0
New customer      13.285336  1.0  99999.0
Regular customer  12.485148  1.0  99999.0

In [20]:
#6 create a spending flag for each user based on the average price across all their orders
df_ords_prods_merge_2['average_purchase'] = df_ords_prods_merge_2.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/8s/hd59lm_10lz7xmm3phb5dc800000gn/T/ipykernel_4122/1625380332.py:2: FutureWarning: The provided callable <function mean at 0x10e4d2200> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge_2['average_purchase'] = df_ords_prods_merge_2.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
# check the average_purchase column visually
df_ords_prods_merge_2.head(25)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,order_day_of_week_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_purchase
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer,6.084746
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,10,New customer,6.084746
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,10,New customer,6.084746
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer,6.084746
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,10,New customer,6.084746
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer,6.084746
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer,6.084746
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,22,Regular customer,3.925000
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Monday,Regularly busy day,Most_orders,22,Regular customer,3.925000
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-range product,Thursday,Regularly busy day,Most_orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-range product,Friday,Regularly busy day,Most_orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,33,Regular customer,6.998537
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,7,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer,6.300599
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer,6.300599

In [23]:
#create a purchase flag column with two categories: high spender and low spender
df_ords_prods_merge_2.loc[df_ords_prods_merge_2['average_purchase'] < 10, 'purchase_flag'] = 'Low Spender'

In [24]:
df_ords_prods_merge_2.loc[df_ords_prods_merge_2['average_purchase'] >= 10, 'purchase_flag'] = 'High Spender'

In [27]:
#visually check that the new column was created
df_ords_prods_merge_2.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,order_day_of_week_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_purchase,purchase_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer,6.084746,Low Spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid-range product,Tuesday,Second slowest day,Average_orders,10,New customer,6.084746,Low Spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid-range product,Tuesday,Second slowest day,Most_orders,10,New customer,6.084746,Low Spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer,6.084746,Low Spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid-range product,Wednesday,Slowest day,Most_orders,10,New customer,6.084746,Low Spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer,6.084746,Low Spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer,6.084746,Low Spender

In [28]:
#7 create a column that shows a user's median order frequency
df_ords_prods_merge_2['median_order_frequency'] = df_ords_prods_merge_2.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/8s/hd59lm_10lz7xmm3phb5dc800000gn/T/ipykernel_4122/1193648839.py:2: FutureWarning: The provided callable <function median at 0x10e724540> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge_2['median_order_frequency'] = df_ords_prods_merge_2.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [30]:
#visually check the new column
df_ords_prods_merge_2.head(25)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,order_day_of_week_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_purchase,purchase_flag,median_order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer,6.084746,Low Spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid-range product,Tuesday,Second slowest day,Average_orders,10,New customer,6.084746,Low Spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Tuesday,Second slowest day,Most_orders,10,New customer,6.084746,Low Spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer,6.084746,Low Spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Wednesday,Slowest day,Most_orders,10,New customer,6.084746,Low Spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,both,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer,6.084746,Low Spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,both,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,both,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer,6.084746,Low Spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,both,Mid-range product,Monday,Regularly busy day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,both,Mid-range product,Monday,Regularly busy day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,both,Mid-range product,Thursday,Regularly busy day,Most_orders,9,New customer,8.372059,Low Spender,6.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,both,Mid-range product,Friday,Regularly busy day,Most_orders,9,New customer,8.372059,Low Spender,6.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,both,Mid-range product,Wednesday,Slowest day,Average_orders,9,New customer,8.372059,Low Spender,6.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,both,Mid-range product,Tuesday,Second slowest day,Most_orders,33,Regular customer,6.998537,Low Spender,7.5
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,both,Mid-range product,Tuesday,Second slowest day,Average_orders,20,Regular customer,8.137793,Low Spender,6.0
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,both,Mid-range product,Tuesday,Second slowest day,Most_orders,20,Regular customer,8.137793,Low Spender,6.0
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,both,Mid-range product,Wednesday,Slowest day,Most_orders,11,Regular customer,7.444898,Low Spender,10.0
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,both,Mid-range product,Wednesday,Slowest day,Most_orders,11,Regular customer,7.444898,Low Spender,10.0
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,both,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer,6.300599,Low Spender,8.0
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,both,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer,6.300599,Low Spender,8.0

In [31]:
#7 create a median order frequency flag column with three categories
df_ords_prods_merge_2.loc[df_ords_prods_merge_2['median_order_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

/var/folders/8s/hd59lm_10lz7xmm3phb5dc800000gn/T/ipykernel_4122/455290917.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Non-frequent customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prods_merge_2.loc[df_ords_prods_merge_2['median_order_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [35]:
df_ords_prods_merge_2.loc[(df_ords_prods_merge_2['median_order_frequency'] <= 20) & (df_ords_prods_merge_2['median_order_frequency'] > 10), 'order_frequency_flag'] = 'Regular customer'

In [36]:
df_ords_prods_merge_2.loc[df_ords_prods_merge_2['median_order_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [38]:
df_ords_prods_merge_2.head(25)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,order_day_of_week_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_purchase,purchase_flag,median_order_frequency,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Tuesday,Second slowest day,Average_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Tuesday,Second slowest day,Most_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Wednesday,Slowest day,Most_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid-range product,Monday,Regularly busy day,Average_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid-range product,Sunday,Second busiest day,Most_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid-range product,Wednesday,Slowest day,Average_orders,10,New customer,6.084746,Low Spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid-range product,Monday,Regularly busy day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid-range product,Monday,Regularly busy day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid-range product,Sunday,Second busiest day,Most_orders,22,Regular customer,3.925000,Low Spender,10.0,Frequent customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,Mid-range product,Thursday,Regularly busy day,Most_orders,9,New customer,8.372059,Low Spender,6.0,Frequent customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,Mid-range product,Friday,Regularly busy day,Most_orders,9,New customer,8.372059,Low Spender,6.0,Frequent customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,Mid-range product,Wednesday,Slowest day,Average_orders,9,New customer,8.372059,Low Spender,6.0,Frequent customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,Mid-range product,Tuesday,Second slowest day,Most_orders,33,Regular customer,6.998537,Low Spender,7.5,Frequent customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,Mid-range product,Tuesday,Second slowest day,Average_orders,20,Regular customer,8.137793,Low Spender,6.0,Frequent customer
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,Mid-range product,Tuesday,Second slowest day,Most_orders,20,Regular customer,8.137793,Low Spender,6.0,Frequent customer
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,Mid-range product,Wednesday,Slowest day,Most_orders,11,Regular customer,7.444898,Low Spender,10.0,Frequent customer
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,Mid-range product,Wednesday,Slowest day,Most_orders,11,Regular customer,7.444898,Low Spender,10.0,Frequent customer
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer,6.300599,Low Spender,8.0,Frequent customer
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,Mid-range product,Sunday,Second busiest day,Most_orders,27,Regular customer,6.300599,Low Spender,8.0,Frequent customer

In [40]:
df_ords_prods_merge_2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods_merged_3.pkl'))